   <div class="pb-5 d-flex">
    
    <table class="border pb-5">
        <thead class="border-bottom">
            <tr class="px-3 py-3">
                <th class="px-4 py-2">ジャンル検索</th>
            </tr>
        </thead>
        <% genres.each do |genre| %>
        <tbody class="pb-5">
            <tr>
                <th class="px-4 py-2 "><%= genre.name %></th>
            </tr>
    <% end %>
        </tbody>
    </table>
    </div>