<div class="col-3 col-sm-auto">
    <div class=""></div>
    <div class="border border-dark px-3">
    <h5 class="border-bottom font-weight-bold border-dark ">ジャンル検索</h5>
    <% genres.each do |genre| %>
    <div><%= genre.name %></div></br>
    <% end %>
    <div class="py-3"></div>
    </div>
  </div>